@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #000 url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
}

.toggle.active {
  background: #000 url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  padding: 100px;
  min-height: 100vh;
}

.banner {
  position: relative;
  width: 100%;
}

.banner .imgSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

.banner .imgSidebar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar, .contentBx {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.sidebar .logoText, .contentBx .logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #333;
  color: #fff;
  padding: 0 3px;
}

.sidebar .btn, .contentBx .btn {
  background: #00bcd4;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}

.sidebar h4, .contentBx h4 {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
}

.sidebar h4 span, .contentBx h4 span {
  color: #00bcd4;
  font-size: 1.5em;
  font-weight: 700;
}

.sidebar h2, .contentBx h2 {
  font-size: 3em;
  color: #333;
  line-height: 1em;
}

.sidebar p, .contentBx p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}

.banner .sci {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .sci li {
  margin-right: 10px;
  list-style: none;
}

.banner .sci li img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner .sci li img:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.9;
}

.sidebar {
  position: fixed;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 40px;
  z-index: 100;
  right: -100%;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sidebar ul li a:hover {
  color: #00bcd4;
}

.about {
  background: #000;
}

.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.about .content .textBx {
  min-width: 49%;
  width: 49%;
}

.about .content .textBx p {
  color: #fff;
}

.about .content .imgBx {
  margin-left: 40px;
}

.about .content .imgBx img {
  max-width: 100%;
}

.services .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .content .servicesBx {
  padding: 40px 20px;
  max-width: 340px;
  margin: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  background: #f5f5f5;
}

.services .content .servicesBx:hover {
  background: #000;
}

.services .content .servicesBx:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.services .content .servicesBx:hover h2, .services .content .servicesBx:hover p {
  color: #fff;
}

.services .content .servicesBx img {
  max-width: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services .content .servicesBx h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services .content .servicesBx p {
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work .content .workBx {
  position: relative;
  width: 265px;
  height: 265px;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.work .content .workBx:hover .txtBx {
  opacity: 1;
}

.work .content .workBx .imgBx, .work .content .workBx .txtBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .content .workBx .imgBx img, .work .content .workBx .txtBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work .content .workBx .txtBx {
  background: #000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work .content .workBx .txtBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
}

.contact {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contactForm {
  position: relative;
  width: 700px;
  margin-top: 20px;
}

.contact .contactForm .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contactForm .row .col50 {
  width: 50%;
  margin: 10px;
}

.contact .contactForm .row .col100 {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.contact .contactForm .row input, .contact .contactForm .row textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 16px;
  resize: none;
}

.contact .contactForm .row textarea {
  height: 100px;
}

.contact .contactForm .row input[type="submit"] {
  background: #00bcd4;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  max-width: 150px;
}

.title {
  width: 100%;
  text-align: center;
}

.title.white h2, .title.white p {
  color: #fff;
}

.title.white h2::before {
  background: #fff;
}

.title h2 {
  position: relative;
  color: #00bcd4;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.title h2::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: #000;
}

.title p {
  max-width: 700px;
  display: inline-block;
}

.copyright {
  color: #fff;
  background: #111;
  text-align: center;
  padding: 10px;
}

.copyright p {
  margin: 0;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */